<div class="tren-feature">
    <div class="container">
        <h3 class="tren-sub-title">Dengan Aplikasi PayTren di Smartphone, Anda Bisa Melakukan:</h3>
        <div class="tren-content clearfix">
            <div class="tren-feature__media">
                <div class="tren-feature__image">
                    <figure>
                        <img class="img" src="{{ $baseurl := .Site.BaseURL }}/images/fitur-paytren.png" alt="manfaat aplikasi paytren">
                    </figure>
                </div>
            </div> 
             <div class="tren-feature__body">
                <ul>
                    <li>
                        <span class="tren-feature__icon"><i class="icon-ok"></i></span>
                        <div class="tren-feature__info">
                            <h4>Pembelian Pulsa HP & Token Listrik PLN</h4>
                            <p>Isi pulsa HP ( Telkomsel, Smartfren, Indosat, XL, Three, Flexi, Esia, Ceria, Bolt,Axis,Tellin Hongkong ),token listrik PLN,  Top TV, TV Pra Kvision, TV Pra Orange, TV Pra Topas, Dll</p>
                        </div>
                    </li>
                     <li>
                        <span class="tren-feature__icon"><i class="icon-ok"></i></span>
                        <div class="tren-feature__info">
                            <h4>Pembelian Tiket Pesawat & Kereta Api</h4>
                            <p>Mau bepergian? Anda bisa beli tiket pesawat dan kereta api ( dalam pengembangan ) cukup melalui handphone anda. Praktis dan tidak ribet.</p>
                        </div>
                    </li>
                     <li>
                        <span class="tren-feature__icon"><i class="icon-ok"></i></span>
                        <div class="tren-feature__info">
                            <h4>Pembelian Pulsa Malaysia ( baru )</h4>
                            <p>Paytren Go Internasional, kini operator seluler Malaysia ada di Paytren seperti Buzzme, Celcom, Digi, Frlendi, Maxis, Merchanttrade, Mol Points,Tron, Tuntalk, Umobile, XOX, YES, dll.</p>
                        </div>
                    </li>
                    <li>
                        <span class="tren-feature__icon"><i class="icon-ok"></i></span>
                        <div class="tren-feature__info">
                            <h4>Pembelian Voucher Games</h4>
                            <p>Berbagai voucher games online ada di Paytren seperti Games Cherry Credits, Games Digicash, Garena, Gemscool, LYTO,Megaxus, MOL POINT,Orange Games, dan lain-lain</p>
                        </div>
                    </li>
                    <li>
                        <span class="tren-feature__icon"><i class="icon-ok"></i></span>
                        <div class="tren-feature__info">
                            <h4>Cek & Bayar Tagihan</h4>
                            <p>Bayar Listrik PLN, Telkom, Telkomvision, Speedy, PDAM, tagihan kartu Hallo,tagihan finance ( Adira, BAF, FIF, MAF, MCF, WOM ) Tagihan TV berbayar Okevision dan Indovision.</p>
                        </div>
                    </li>
                     <li>
                        <span class="tren-feature__icon"><i class="icon-ok"></i></span>
                        <div class="tren-feature__info">
                            <h4>Pembelian Paket Data Internet</h4>
                            <p>Mudah beli paket data internet via paytren, Data AXIS, Data Indosat, Data Telkomsel, Data Three, Data XL, SMS Indosat, BOLT, dan lain-lain.</p>
                        </div>
                    </li>
                     <li>
                        <span class="tren-feature__icon"><i class="icon-ok"></i></span>
                        <div class="tren-feature__info">
                            <h4>Sedekah & Aqiqah</h4>
                            <p>Mitra paytren bisa melakukan charity / sedekah menggunakan deposit paytren. Sedekah disalurkan melalui PPPA Darul Quran Nusantara asuhan Ustadz Yusuf Mansur. Serta Aqiqah.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>