<div class="tren-sub-title tren-title__bg">
    <div class="container">
        <h2 class="tren-title--light">Inilah Beberapa Alasan Kenapa Anda harus Pakai PayTren dan Mulai Bisnis PayTren</h2>
    </div>
</div>
    
<div class="tren-working tren-content tren-content--light-bg">
    <div class="container">
         <div class="tren-feature__extra clearfix">
            <div class="extra-feature col-1-2">
                <ul>
                    <li>Sudah terbukti mempermudah transaksi dan menghemat pengeluaran.</li>
                    <li>Mau tidak mau Anda harus mengikuti jaman. Ikut berubah atau punah? seperti wartel yang tergantikan dengan adanya handphone sebagai contohnya.</li>
                    <li>Anda pastinya membutuhkan pemasukan tambahan. PayTren menyediakan peluang bisnis yang unik dan dapat Anda jalankan bisnisnya untuk meraih penghasilan.</li>
                    <li>Tentunya Anda tidak ingin bekerja seumur hidup untuk orang lain kan? karena Anda pasti sadar jika menjadi karyawan itu tidak ada jaminan sampai kapan Anda dipekerjakan.</li>
                </ul>
            </div>
            <div class="extra-feature col-1-2">
                <ul>
                    <li>Anda bisa menjalankan bisnisnya dari rumah atau darimana saja dan kapan saja Anda mau, sehingga punya banyak waktu untuk keluarga dan orang yang Anda sayangi.</li>
                    <li>Anda bisa memiliki bisnis yang memberikan hasil terus menerus meskipun Anda sedang liburan bahkan ketika Anda tidur sekalipun.</li>
                    <li>Anda bisa memiliki bisnis yang bisa diwariskan ke anak cucu.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="tren-quote tren-content cover-image is-cover-fixed" style="background-image: url({{ $baseurl := .Site.BaseURL }}/images/paytren-quote.png)">
    <div class="container">
        <div class="tren-quote__content">
            <h2 class="tren-quote__text tren-quote__one">"Peluang Bisnis PayTren"</h2>
            <h3 class="tren-quote__text tren-quote__two">"Sukses itu pertemuan antara peluang dan kesiapan"</h3>
            <h2 class="tren-quote__text tren-quote__three">Kembangkan Bisnisnya Raih Kebebasan Waktu Dan Finansial Anda Bersama Komunitas PayTren</h2>
            <h4 class="tren-quote__text tren-quote__four">PayTren terbukti telah menghantarkan puluhan ribu mitra bisnisnya memiliki penghasilan Rp. 10 Juta hingga Rp. 300 Juta perbulan. Sekarang giliran Anda....</h4>
        </div>
    </div>
    <div class="cover-mask"></div>
</div>