{{ partial "header" . }}
<main id="site-main" class="site-main">
    <div class="container">
        <div class="main-content clearfix">
            <div class="content-area">
                <article class="post-article">
                    <header class="post-header">
                        <h2 class="post-feed__title">{{ .Title }}</h2>
                    </header>  

                    {{ if .Params.thumbnail }}  
                    <div class="post-media">
                        <a href="{{ .Permalink }}" class="post-link">
                            <figure>
                                <img class="post-image img" src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
                            </figure>
                        </a>
                    </div>
                    {{ end }}

                    <div class="post-content">
                        {{ .Content }}
                    </div>
                </article>
            </div>

            {{ partial "sidebar.html" . }}
            
        </div>
    </div>
</main>
{{ partial "footer" . }}