.content-page {
    width: 680px;
    margin: 0 auto;
}
.page-register {
    background: var(--main-background);
}
.tren-color {
    color: var(--orange);
}
.tren-sub-title {
    padding: 2em 0;
    text-align: center;
    
    & h2,
    & h3,
    & h4 {
        margin: 0;
    }
}
.warning-color {
    color: rgb(239, 252, 0);
}
.is-center {
     text-align: center;
}
.tren-content--light-bg {
    background: var(--main-background);
}
.tren-content--dark-bg {
    background: var(--slide-background);
}
.cover-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.is-cover-fixed {
    position: relative;
    background-attachment: fixed;
}
.is-fixed-content {
    position: relative;
    z-index: 9;
}

.cover-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(rgba(37, 38, 50, 0.67), rgba(37, 38, 50, 0.92));
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.15);
    transition: visibility 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 1;
}

.tren-title__bg {
    background: var(--orange);
}
.tren-title__box,
.tren-box {
    max-width: 680px;
    margin: 0 auto!important;
}
.tren-title--light {
    color: var(--light-text-color);
}
.tren-box {
    padding: 3em 0 2em;
}
.tren-center {
    text-align: center;
}
.tren-content {
    padding: 2em 0;
}
.tren-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 7em 2em;
  
}
.tren-info {
    
    & h2 {
        text-transform: uppercase;
        font-size: 3.2rem;
        margin-bottom: 0.5em;
    }
    
    & h3 {
        font-size: 2.5rem;
        margin-bottom: 0.5em;
    }
}
.tren-info__text {
    color: var(--light-text-color);
}
.tren-video {
    padding-bottom: 3em;
}
.tren-user__know {
    font-size: 2.8rem;
    margin-bottom: 0.5em!important;
}
.tren-user__title {
    margin-bottom: 0.5em!important;
}
.tren-feature__media {
    lost-column: 1/3;
}
.tren-feature__body {
    lost-column: 2/3;
}
.tren-feature__body {
    padding-left: 3em;
    
    & ul {
        list-style: none;
        padding: 0;
        
        & li {
            margin: 0;
            padding: 0;
            display: flex;
        }
    }
}
.tren-feature__icon {
    display: block;
    text-align: center;
    font-size: 24px;
    width: 42px;
    height: 42px;
    line-height: 42px;
    border: 1px solid #25d366;
    color: #25d366;
    margin-top: 4px;
}
.tren-feature__info {
    width: 85%;
    margin-left: 2em;
    
    & h4 {
        margin-bottom: 0.5em;
    }
    
    & p {
        font-size: 1.4rem;
    }
}

/*tren reason*/
.extra-feature {
    & ul {
        list-style: none;
        padding: 0;
        margin: 0;

        & li {
            position: relative;
            padding-left: 3em;
            margin-bottom: 1.5em;

            &:before {
                content: '\e80d';
                font-family: fontello;
                font-size: 14px;
                left: 0;
                top: 5px;
                width: 28px;
                height: 28px;
                line-height: 28px;
                text-align: center;
                margin-right: 12px;
                position: absolute;
            }
        }
    }
}
.extra-feature ul li:before {
    color: #25d366;
    border: 1px solid #25d366;
    
}
.tren-testimoni {
    position: relative;
    padding: 3em 2em;
    background: var(--main-background);
}
.treni-testimoni__headline {
    text-align: center;
    
    & h2 {
        
    }
}
.tren-testi {
    position: relative;
    max-width: 660px;
    margin: 0 auto;
    
    & .nav-slider {
        position: absolute;
        width: 36px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        font-size: 2.2rem;
        background: var(--main-bg);
        opacity: 0.6;
        visibility: hidden;
        transition: all .2s ease-out;
        top: 45%;
    }
    
    & .nav-prev {
        left: 20px;
    }
    
    & .nav-next {
        right: 20px;
    }
    
    &:hover .nav-slider {
        visibility: visible;
    }
    
    & .owl-dots {
        position: absolute;
        bottom: 1em;
        left: 50%;
        margin-left: -48px;
        
        & .owl-dot span {
            border: 1px solid var(--main-bg);
            background: transparent;
            
            &:hover,
            &:active {
                background: var(--main-bg);
            }
        }
        
        & .owl-dot.active span {
            background: var(--main-bg);
        }
    }
}

/*treni modul*/
.tren-modul__cover,
.tren-modul__content {
    lost-column: 1/2;
}
.tren-modul__cover {
   padding: 0 3em;
}
.tren-modul__content {
    & ul {
        margin: 0;
        padding: 0;
        list-style: none;
        
        & li {
            margin: 0;
            padding: 0;
            line-height: 42px;
            
            & .modul-icon {
                font-size: 36px;
                width: 42px;
                height: 42px;
                line-height: 42px;
                float: left;
                margin-right: 32px;
            }
        }
    }
}
.tren-modul__wrapper {
    padding: 3em 2em;
    
    & h4 {
        margin-bottom: 2em;
    }
}
.tren-modul__column {
    lost-column: 1/2;
    
    & ul {
        margin: 0;
        padding: 0;
        
        & li {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
        }
    }
}
.tren-modul__icon {
    color: var(--wa-color);
    font-size: 2rem;
    text-align: center;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border: 1px solid var(--wa-color);
    margin-top: 4px;
}
.tren-modul__info {
    width: 86%;
    font-family: var(--font-heading);
}
/*treni price*/
.tren-price p {
    color: var(--light-text-color);
    
    & b {
        color: var(--orange);
    }
}
.tren-price__number {
    color: var(--orange);
    font-size: 3.8rem;
}
.tren-price__app {
    color: var(--orange);
    font-size: 3.8rem;
}
.tren-button {
    margin-bottom: 2em;
}
.click-now {
    padding: 12px 20px;
    border-radius: 10px;
    background: var(--orange);

    & a {
        font-size: 2rem;
        color: var(--light-text-color);

        &:hover {
            text-decoration: none;
        }
    }
}
.reg-button {
    padding: 12px 20px;
    border-radius: 10px;
    background: var(--wa-color);

    & a {
        font-size: 2rem;
        color: var(--light-text-color);

        &:hover {
            text-decoration: none;
        }
    }
}
/*treni question*/
.qa-button {
    background: var(--slide-background);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.6s;
    
     
    & .qa-icon {
        float: right;
    }
}

.qa-button.active, .qa-button:hover {
    background: var(--body-background);
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    
    & p {
        padding-top: 12px;
    }
}
.tren-quote {
    display: flex;
    align-items: center;
}

.tren-quote__content {
    position: relative;
    z-index: 9;
}
.tren-quote__text {
    text-align: center;
    color: #e8be37;
}
.tren-quote__one {
    font-size: 3.8rem;
    text-transform: uppercase;
}
.tren-quote__two {
    font-size: 2.6rem;
    font-style: italic;
}
.tren-quote__three {
    font-size: 3.4rem;
}
.tren-quote__four {
    color: var(--light-text-color);
}
.register-form {
    & label {
        display: inline-block;
        padding: 6px 0;
        width: 200px;
    }
    
    & p {
        margin-left: 214px;
        margin-bottom: 0.5em;
    }
    
    & button {
        padding: 10px 20px;
        color: var(--light-text-color);
        background: var(--treni-color);
        margin-top: 2em;
    }
}
.label-radio {
    display: inline-block;
    vertical-align: text-top;
}

.col-1-2 {
    lost-column: 1/2;
}

@media (--medium-screen) {
    .tren-content,
    .tren-sub-title {
        padding: 2em 1.5em;
    }
    .tren-box {
        padding: 3em 1.5em 2em;
    }
    .tren-feature__media,
    .tren-feature__body,
    .tren-modul__cover,
    .tren-modul__content,
    .tren-modul__column {
        width: 100%;
    }
    .tren-insta {
        width: 100%;
    }
    .tren-feature__body {
        padding: 0;
    }
}

@media (--small-screen) {
    .col-1-2 {
        width: 100%;
    }
}