<div class="tren-sub-title tren-title__bg">
    <div class="container">
        <h2 class="tren-title--light">Ya, Saya Beneran Mau Beli. Berapa Harganya ya?</h2>
    </div>
</div>

<div class="tren-price cover-image is-cover-fixed" style="background-image: url({{ $baseurl := .Site.BaseURL }}/images/paytren-cover.jpg)">
    <div class="container">
        <div class="tren-content is-center is-fixed-content">
            <p>Untuk menjadi Mitra Bisnis PayTren resmi, Anda cukup membeli <b>Lisensi Penuh ( Basic )</b> yang berlaku seumur hidup, tanpa ada biaya bulanan, juga tanpa belanja wajib ( Tupo )</p>
            <h3 class="tren-price__app">Rp. 350.000,-</h3>
            <div class="tren-button">
               
               {{ if .Params.whatsapp }}
                <a href="https://api.whatsapp.com/send?phone={{ .Params.whatsapp }}&text=Assalamu%27alaikum%20Admin%2C%20perkenalkan%20nama%20saya%20%5Bisi%20nama%20kamu%5D.%20Saya%20ingin%20pakai%20PayTren%20dan%20menjalankan%20bisnisnya%2C%20%20mohon%20dibimbing%20ya." class="reg-button" target="_blank"><i class="icon-whatsapp"></i> | Beli Sekarang</a>{{ end }}
            </div>
        </div>
    </div>
    <div class="cover-mask"></div>
</div>