<div class="tren-sub-title tren-title__bg">
    <div class="container">
        <h2 class="tren-title--light">Yakin Mau Pakai PayTren? Coba Simak Dulu Apa Kata Mereka yang Sudah Pakai PayTren</h2>
    </div>
</div>

<div class="tren-testimoni">
    <div class="container">
        <div class="tren-testimoni__wrapper">
            <div class="tren-testi">
                <div id="owl" class="tren-slider loop owl-carousel owl-theme owl-loaded owl-drag">
                    <div class="testi-image">
                       <img class="img" src="{{ $baseurl := .Site.BaseURL }}/images/testi1.jpg" alt="testi paytren 1">
                    </div>
                     <div class="testi-image">
                       <img class="img" src="{{ $baseurl := .Site.BaseURL }}/images/testi2.jpg" alt="testi paytren 2">
                    </div>
                     <div class="testi-image">
                       <img class="img" src="{{ $baseurl := .Site.BaseURL }}/images/testi3.jpg" alt="testi paytren 3">
                    </div>
                     <div class="testi-image">
                       <img class="img" src="{{ $baseurl := .Site.BaseURL }}/images/testi4.jpg" alt="testi paytren 4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>