{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}

<nav class="pagination clearfix">
     {{ if .Paginator.HasPrev }}
        <a class="pagination-prev" href="{{ .Paginator.Prev.URL }}">&larr; Artikel terbaru</a>
      {{ end }}
    <span class="pagination-page">Halaman {{ .Paginator.PageNumber }} dari {{ .Paginator.TotalPages }}</span>
     {{ if .Paginator.HasNext }}
        <a class="pagination-next" href="{{ .Paginator.Next.URL }}">Artikel terlama &rarr;</a>
    {{ end }}
</nav>
{{ end }}


