  {{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}

    {{ if $related }}

    <section class="related-posts">
        <h3 class="related-posts__title">Baca Juga Artikel Menarik Ini</h3>
        <div class="related-posts__content clearfix">

            {{ range $related }}
            <div class="related-post">

                {{ if .Params.thumbnail }}  
                <div class="related-post__media">
                    <a href="{{ .Permalink }}" class="post-link">
                        <figure>
                            <img class="post-image img" src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
                        </figure>
                    </a>
                </div>
                {{ end }}
               
                <div class="related-post__body">
                    <a href="{{ .RelPermalink }}" class="related-post__link"><p class="related-post__title">{{ .Title }}</p></a>
                </div>
            </div>
            {{ end }}

        </div>
    </section>
    {{ end }}


    
    

    
    
    
    
    
   