    {{ if .IsHome }}
    <script type="application/ld+json">
    { 
      "@context": "http://schema.org", 
      "@type": "WebSite", 
      "url": "{{ .Site.BaseURL }}", 
      "name": "{{ with $.Site.Data.setting }}{{ .site_title }}{{ end }}",
       "author": {
          "@type": "Person",
          "name": "{{ with $.Site.Data.setting }}{{ .pengguna.nama }}{{ end }}"
        },
      "description": "{{ with $.Site.Data.setting }}{{ .site_title }}{{ end }}",
    }
    </script>
    {{ else }}
        <script type="application/ld+json">
        {{if eq .Section "post"}}
        { 
            "@context": "http://schema.org", 
            "@type": "Article",
            "headline": "{{ .Title }}",
            "genre": "{{ range .Params.categories }}{{ . }}{{ end }}",  
            "url": "{{ .Permalink }}",
            "datePublished": "{{ time .Date }}",
            "description": "{{ .Description }}",
            "author": {
                "@type": "Person",
                "name": "{{ with $.Site.Data.setting }}{{ .pengguna.nama }}{{ end }}"
            }
         }
        {{ else }}
        { 
          "@context": "http://schema.org", 
          "@type": "WebSite", 
          "url": "{{ .Permalink }}", 
          "name": "{{ .Title }}",
           "author": {
              "@type": "Person",
              "name": "{{ with $.Site.Data.setting }}{{ .pengguna.nama }}{{ end }}"
            },
          "description": "{{ with $.Site.Data.setting }}{{ .site_description }}{{ end }}",
        }
        </script>
        {{ end }}
    {{ end }}